.current-weather {
  display: grid;
  grid-template-areas:
    "avg icon"
    "avg icon"
    "temperature winds"
    "temperature winds"
    "daycycle daycycle"
    "bottom bottom";
  grid-template-columns: min-content, 1fr;
  gap: 10px;
  padding: 10px;
}

.current-weather__winds {
  grid-area: winds;
}

.current-weather__temperature-avg {
  grid-area: avg;
  justify-self: center;
  align-self: center;
}

.current-weather__temperature {
  grid-area: temperature;
}


.current-weather-section__bottom {
  grid-area: bottom;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 15px;

  padding-top: 10px;
}

.current-weather-section__bottom>button {
  appearance: none;
  border: 0px;
  background-color: var(--seasalt);
  border-bottom: 1px solid var(--wenge);
  font-size: 1.5rem;
}


.current-weather-section__bottom>button:active {
  transform: translateY(1px);
}

.current-weather__icon_normal {
  grid-area: icon;
  width: 100px;
  height: 100px;

  justify-self: center;
  align-self: center;

  filter: brightness(0.7);
}

.current-weather__daycycle {
  grid-area: daycycle;
}

.temperature__large {
  width: 100px;
  height: 100px;
}

.temperature-font__large {
  font-size: 24pt;
  font-style: bold;
}