.current-weather {
  display: grid;
  grid-template-areas:
    "temperature winds"
    "temperature winds"
    "temperature last-updated"
    "temperature ."
    "bottom bottom";
  grid-template-columns: repeat(2, 1fr);
}

.current-weather__winds {
  grid-area: 'winds';
}

.current-weather__last-updated {
  grid-area: 'last-updated'
}

.current-weather__temperature {
  grid-area: 'temperature';
}


.current-weather-section__bottom {
  grid-area: bottom;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}