@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
  box-sizing: border-box;
  font-size: 12pt;
  font-family: 'Inter', serif;

  --seasalt: #F9F8F8;
  --wenge: #504746;
  --raisin-black: #30292F;

  background-color: var(--seasalt);
}

*,
*:after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}


body {
  display: grid;
  grid-template-rows: max-content max-content 1fr;

  margin: 0;
}

footer {
  align-self: flex-end;
}

ul {
  display: flex;
  flex-flow: column;
  row-gap: 0.3em;

  margin: 0px;
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.main-section-component {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  margin: 0 auto;
  width: max-content;
  background-color: var(--burnt-sienna);
}

.font_capital {
  font-size: 1.5rem;
}

.font_small {
  font-size: 0.8rem;
}