:root {
  box-sizing: border-box;
  font-family: 'Open Sans Regular', serif;
  font-size: 11pt;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

ul {
  display: flex;
  flex-flow: column;
  row-gap: 0.3em;
}

li {
  list-style-type: none;
}

