.day-forecast-section__bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.day-forecast-section__grid {
  display: grid;
  grid-template-areas:
    'date date .'
    'weather temperature__large temperature'
    'weather temperature__large temperature';
  grid-template-columns: 60px max-content max-content;
  align-items: center;
  column-gap: 25px;
  row-gap: 10px;
}

.day-forecast-section__date {
  grid-area: date;
}

.day-forecast-section__temperature {
  grid-area: temperature;
}

.day-forecast-section__temperature_large {
  grid-area: temperature__large;
}

.day-forecast-section__weather {
  grid-area: weather;
  width: 80px;
  height: 80px;
  filter: brightness(0.7);
}
