@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  z-index: 998;

  width: 100%;
  height: 100%;

  backdrop-filter: brightness(0.3);
}

.spinner {
  position: absolute;

  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);

  color: white;
  animation: rotation 2s  infinite;
  z-index: 999;

  font-size: 24pt;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}